*{
    margin: 0;
}

#navbar1 {
    background-color: black;
    color: white;
    height: 100px;
}

a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: azure;
}

#controle {
    width: 100%;
    display: block;
    background-color: lightgreen;
    font-size: 100 px;
    font-family: sans-serif, cursive;
    font-weight: bold;
    line-height: 40px;
    height: 350px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.lbl {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif, cursive;
    margin-right: 5vh;
    margin-left: 5vh;
}

#botaograde {
    margin-left: 5vh;
    margin-right: 5vh;
    width: 95%;
    font-weight: bold;
}

#tabela {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: block;
    background-color: lightgreen;
    height: 700px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    width:100%;
    font-size: 60 px;
    font-family: sans-serif, cursive;
    font-weight: bold;

}

.valoresx   {
    background-color: lightblue;
    width:50px;

}

input {
    text-align: center;
}

.btnbaixo {
    height: 70px;
    width: 210px;
    display: inline-block;
    background-color: #223033; 
    color: white;
}

table {
    border: 1px solid black;
    padding: 15px;
}
td {
    border: 1px solid black;
    text-align: center; 
}